{{#partial "content"}}
    <div class="row">
        <div class="well">
            <h1>{{ event.name }}</h1>
            <p> Event description : {{ event.description }}</p>
            <p>Attendees:
                <ul>
                    {{#each event.attendees}}
                        <li class="attendee">{{ this }}</li>
                    {{/each}}
                </ul>
            <p><a href="/events/{{event.id}}/update"> Edit event name</a><br></p>
            <p><a href="/events/{{event.id}}/attendees">Add attendees</a><br></p>
    </div>
    </div>
{{/partial}}

{{> layout.hbs}}